:root {
   --field-wrap: #000000;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   width: 100%;
   font-size: 100%;
   color: #ffffff;
   background-color: rgb(69, 65, 65);
}

.container {
   margin: 20px;

   .header {
      width: 100%;
      display: flex;
      align-items: center;
      margin-top: 50px;

      input {
         width: 300px;
         font-size: 16px;
         margin-right: 20px;
         outline: none;
      }

      .or {
         margin-right: 40px;
      }

      .textarea-container {
         display: flex;
         justify-content: center;
         align-items: center;

         textarea {
            height: 150px;
            width: 100%;
            margin-right: 15px;
            padding: 5px;
            resize: none;
            outline: none;
         }

         button {
            padding: 5px 20px;
            border: none;
            transition: 200ms;
            cursor: pointer;
            translate &:hover {
               background-color: lightgray;
            }
         }

         @media screen and (max-width: 650px) {
            flex-wrap: wrap;

            button {
               margin-top: 20px;
            }
         }
      }

      .tips {
         padding: 10px 0 5px 0;
         color: #e0cb2b;
      }
   }

   main {
      margin: 50px 20px 20px 20px;
      padding: 15px;
      border: 1px solid rgb(78, 78, 78);
      overflow-x: scroll;

      ul {
         position: relative;
         margin: 15px 0 30px 25px;
         padding: 10px 0 7.5px 10px;
         border-left: 2.5px solid var(--field-wrap);
         list-style-type: none;

         .key {
            font-size: 18px;
            text-transform: capitalize;
            font-weight: bold;
         }

         .type {
            font-size: 16px;
            color: #16825d;
         }

         .value {
            display: inline;
            font-size: 18px;
            padding-right: 15px;

            summary {
               font-size: 14px;
               padding: 1px 0 1px 8px;
               background-color: rgb(129, 129, 129);
               border-radius: 2px;
               cursor: pointer;
            }
         }

         li {
            display: flex;
            justify-content: start;
            align-items: center;
            white-space: nowrap;
            gap: 5px;
            padding-right: 15px;

            &:before,
            &:after {
               content: '';
               position: absolute;
               left: 0;
               width: 15px;
               height: 2.5px;
               background-color: var(--field-wrap);
            }

            &:after {
               top: 0;
            }

            &:before {
               bottom: 0;
            }
         }
      }
   }
}
