:root {
   --field-wrap: #000000;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   width: 100%;
   font-size: 100%;
   color: #ffffff;
   background-color: rgb(69, 65, 65);
   scrollbar-width: none;
}

::-webkit-scrollbar {
   display: none;
}

ul {
   list-style-type: none;
}

.container {
   margin: 20px;

   .header {
      display: flex;
      align-items: center;

      input {
         width: 300px;
      }

      span {
         margin-right: 40px;
      }

      textarea {
         resize: none;
         height: 150px;
         width: 60%;
         margin-right: 15px;
      }

      button {
         padding: 5px 20px;
      }
   }

   main {
      ul {
         position: relative;
         margin: 15px 0 5px 25px;
         padding: 5px 0 4px 7.5px;
         border-left: 2.5px solid var(--field-wrap);

         li:before,
         li:after {
            content: '';
            position: absolute;
            left: 0;
            width: 15px;
            height: 2.5px;
            background-color: var(--field-wrap);
         }

         li:after {
            top: 0;
         }

         li:before {
            bottom: 0;
         }
      }
   }
}
