* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   width: 100%;
   height: 100vh;
   font-size: 100%;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: #ffffff;
   background-color: rgb(42, 39, 39);
   overflow: hidden;
}

.container {
   display: flex;
   flex-direction: column;
	padding: 50px;

	textarea {
		resize: none;
		width: 80%;
		height: 100px;
		margin-top: 20px;
	}
}
